/* Umum */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6f2; /* Tema pink lembut */
    color: #333;
}

header {
    background-color: #600a35;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffb3d9;
    color: #fff;
}

.content {
    padding: 30px 20px;
}

.content h2 {
    text-align: center;
    color: #410116;
}

.photobooth {
    background-color: #ffe6f2;
    border: 2px solid #ff99cc;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: #ff99cc;
    color: #fff;
}
